/* body{
  background: radial-gradient(circle at 0% 0%,#13072e,#000000,#3b0d64);
  color:white;
  overflow: hidden;
  overflow-y :scroll;
  /* background-repeat: no-repeat; */
  /* max-width: 75rem; */
/* } */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
/* } */
